AdivinaQue.Client/ClientTest/Connected Services/Proxy/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AdivinaQue.Host.BusinessRules" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_join_InputMessage">
    <wsdl:part name="parameters" element="tns:join" />
  </wsdl:message>
  <wsdl:message name="IService_join_OutputMessage">
    <wsdl:part name="parameters" element="tns:joinResponse" />
  </wsdl:message>
  <wsdl:message name="IService_sendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:sendMessage" />
  </wsdl:message>
  <wsdl:message name="IService_getConnectedUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getConnectedUsers" />
  </wsdl:message>
  <wsdl:message name="IService_disconnectUser_InputMessage">
    <wsdl:part name="parameters" element="tns:disconnectUser" />
  </wsdl:message>
  <wsdl:message name="IService_register_InputMessage">
    <wsdl:part name="parameters" element="tns:register" />
  </wsdl:message>
  <wsdl:message name="IService_register_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_searchUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:searchUsername" />
  </wsdl:message>
  <wsdl:message name="IService_searchUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_sendMail_InputMessage">
    <wsdl:part name="parameters" element="tns:sendMail" />
  </wsdl:message>
  <wsdl:message name="IService_sendMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendMailResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getScores_InputMessage">
    <wsdl:part name="parameters" element="tns:getScores" />
  </wsdl:message>
  <wsdl:message name="IService_RecieveMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecieveMessage" />
  </wsdl:message>
  <wsdl:message name="IService_RecieveUsers_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecieveUsers" />
  </wsdl:message>
  <wsdl:message name="IService_RecieveScores_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecieveScores" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="join">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/join" message="tns:IService_join_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/joinResponse" message="tns:IService_join_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/sendMessage" message="tns:IService_sendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getConnectedUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getConnectedUsers" message="tns:IService_getConnectedUsers_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="disconnectUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/disconnectUser" message="tns:IService_disconnectUser_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/register" message="tns:IService_register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/registerResponse" message="tns:IService_register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/searchUsername" message="tns:IService_searchUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/searchUsernameResponse" message="tns:IService_searchUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/sendMail" message="tns:IService_sendMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/sendMailResponse" message="tns:IService_sendMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getScores">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getScores" message="tns:IService_getScores_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecieveMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RecieveMessage" message="tns:IService_RecieveMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecieveUsers">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RecieveUsers" message="tns:IService_RecieveUsers_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecieveScores">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RecieveScores" message="tns:IService_RecieveScores_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#NetTcpBinding_IService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="join">
      <soap12:operation soapAction="http://tempuri.org/IService/join" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <soap12:operation soapAction="http://tempuri.org/IService/sendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getConnectedUsers">
      <soap12:operation soapAction="http://tempuri.org/IService/getConnectedUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="disconnectUser">
      <soap12:operation soapAction="http://tempuri.org/IService/disconnectUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap12:operation soapAction="http://tempuri.org/IService/register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchUsername">
      <soap12:operation soapAction="http://tempuri.org/IService/searchUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMail">
      <soap12:operation soapAction="http://tempuri.org/IService/sendMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScores">
      <soap12:operation soapAction="http://tempuri.org/IService/getScores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RecieveMessage">
      <soap12:operation soapAction="http://tempuri.org/IService/RecieveMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecieveUsers">
      <soap12:operation soapAction="http://tempuri.org/IService/RecieveUsers" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecieveScores">
      <soap12:operation soapAction="http://tempuri.org/IService/RecieveScores" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="NetTcpBinding_IService" binding="tns:NetTcpBinding_IService">
      <soap12:address location="net.tcp://localhost:9090/Service/Service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9090/Service/Service</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-A884PK0\kari</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>