AdivinaQue.Client/AdivinaQue.Client/Connected Services/Proxy/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AdivinaQue.Host.InterfaceContract" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Windows.Media.Imaging" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Windows.Media" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Windows.Media.Animation" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Windows" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/System.Windows.Threading" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/System.Net.Cache" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Join_InputMessage">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="IService_Join_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IService_GetConnectedUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectedUsers" />
  </wsdl:message>
  <wsdl:message name="IService_DisconnectUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectUser" />
  </wsdl:message>
  <wsdl:message name="IService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SearchUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchUsername" />
  </wsdl:message>
  <wsdl:message name="IService_SearchUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SearchInfoPlayerByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchInfoPlayerByUsername" />
  </wsdl:message>
  <wsdl:message name="IService_GenerateCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateCode" />
  </wsdl:message>
  <wsdl:message name="IService_GenerateCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Modify_InputMessage">
    <wsdl:part name="parameters" element="tns:Modify" />
  </wsdl:message>
  <wsdl:message name="IService_Modify_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendInvitation_InputMessage">
    <wsdl:part name="parameters" element="tns:SendInvitation" />
  </wsdl:message>
  <wsdl:message name="IService_SendInvitation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendInvitationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendMail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMail" />
  </wsdl:message>
  <wsdl:message name="IService_SendMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetEmails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmails" />
  </wsdl:message>
  <wsdl:message name="IService_GetEmails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTopics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopics" />
  </wsdl:message>
  <wsdl:message name="IService_GetScores_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScores" />
  </wsdl:message>
  <wsdl:message name="IService_SendBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:SendBoard" />
  </wsdl:message>
  <wsdl:message name="IService_SendRival_InputMessage">
    <wsdl:part name="parameters" element="tns:SendRival" />
  </wsdl:message>
  <wsdl:message name="IService_SendBoardLists_InputMessage">
    <wsdl:part name="parameters" element="tns:SendBoardLists" />
  </wsdl:message>
  <wsdl:message name="IService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendCorrectCards_InputMessage">
    <wsdl:part name="parameters" element="tns:SendCorrectCards" />
  </wsdl:message>
  <wsdl:message name="IService_SendScoreRival_InputMessage">
    <wsdl:part name="parameters" element="tns:SendScoreRival" />
  </wsdl:message>
  <wsdl:message name="IService_SendNextTurnRival_InputMessage">
    <wsdl:part name="parameters" element="tns:SendNextTurnRival" />
  </wsdl:message>
  <wsdl:message name="IService_SendNumberCardsFinded_InputMessage">
    <wsdl:part name="parameters" element="tns:SendNumberCardsFinded" />
  </wsdl:message>
  <wsdl:message name="IService_SendWinner_InputMessage">
    <wsdl:part name="parameters" element="tns:SendWinner" />
  </wsdl:message>
  <wsdl:message name="IService_SendGame_InputMessage">
    <wsdl:part name="parameters" element="tns:SendGame" />
  </wsdl:message>
  <wsdl:message name="IService_SendGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendGameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RecieveMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecieveMessage" />
  </wsdl:message>
  <wsdl:message name="IService_RecieveUsers_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecieveUsers" />
  </wsdl:message>
  <wsdl:message name="IService_RecievePlayer_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecievePlayer" />
  </wsdl:message>
  <wsdl:message name="IService_SendInvitationGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendInvitationGame" />
  </wsdl:message>
  <wsdl:message name="IService_SendInvitationGame_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendInvitationGameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendBoardConfigurate_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendBoardConfigurate" />
  </wsdl:message>
  <wsdl:message name="IService_ReceiveRival_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveRival" />
  </wsdl:message>
  <wsdl:message name="IService_RecieveScores_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecieveScores" />
  </wsdl:message>
  <wsdl:message name="IService_RecieveTopics_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecieveTopics" />
  </wsdl:message>
  <wsdl:message name="IService_ReceiveCardSeed_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveCardSeed" />
  </wsdl:message>
  <wsdl:message name="IService_ReceiveCorrectPair_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveCorrectPair" />
  </wsdl:message>
  <wsdl:message name="IService_ReceiveScoreRival_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveScoreRival" />
  </wsdl:message>
  <wsdl:message name="IService_ReceiveNextTurn_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveNextTurn" />
  </wsdl:message>
  <wsdl:message name="IService_ReceiveNumberCardsFinded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveNumberCardsFinded" />
  </wsdl:message>
  <wsdl:message name="IService_ReceiveWinner_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveWinner" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Join">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Join" message="tns:IService_Join_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/JoinResponse" message="tns:IService_Join_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendMessage" message="tns:IService_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectedUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetConnectedUsers" message="tns:IService_GetConnectedUsers_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisconnectUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DisconnectUser" message="tns:IService_DisconnectUser_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Register" message="tns:IService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RegisterResponse" message="tns:IService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SearchUsername" message="tns:IService_SearchUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SearchUsernameResponse" message="tns:IService_SearchUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchInfoPlayerByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SearchInfoPlayerByUsername" message="tns:IService_SearchInfoPlayerByUsername_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GenerateCode" message="tns:IService_GenerateCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GenerateCodeResponse" message="tns:IService_GenerateCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Modify" message="tns:IService_Modify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ModifyResponse" message="tns:IService_Modify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Delete" message="tns:IService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteResponse" message="tns:IService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendInvitation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendInvitation" message="tns:IService_SendInvitation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendInvitationResponse" message="tns:IService_SendInvitation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendMail" message="tns:IService_SendMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendMailResponse" message="tns:IService_SendMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetEmails" message="tns:IService_GetEmails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetEmailsResponse" message="tns:IService_GetEmails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopics">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTopics" message="tns:IService_GetTopics_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScores">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetScores" message="tns:IService_GetScores_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendBoard" message="tns:IService_SendBoard_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendRival">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendRival" message="tns:IService_SendRival_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendBoardLists">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendBoardLists" message="tns:IService_SendBoardLists_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUsers" message="tns:IService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUsersResponse" message="tns:IService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendCorrectCards">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendCorrectCards" message="tns:IService_SendCorrectCards_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendScoreRival">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendScoreRival" message="tns:IService_SendScoreRival_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendNextTurnRival">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendNextTurnRival" message="tns:IService_SendNextTurnRival_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendNumberCardsFinded">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendNumberCardsFinded" message="tns:IService_SendNumberCardsFinded_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendWinner">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendWinner" message="tns:IService_SendWinner_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendGame" message="tns:IService_SendGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendGameResponse" message="tns:IService_SendGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecieveMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RecieveMessage" message="tns:IService_RecieveMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecieveUsers">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RecieveUsers" message="tns:IService_RecieveUsers_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecievePlayer">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RecievePlayer" message="tns:IService_RecievePlayer_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendInvitationGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendInvitationGame" message="tns:IService_SendInvitationGame_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendInvitationGameResponse" message="tns:IService_SendInvitationGame_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendBoardConfigurate">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendBoardConfigurate" message="tns:IService_SendBoardConfigurate_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveRival">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReceiveRival" message="tns:IService_ReceiveRival_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecieveScores">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RecieveScores" message="tns:IService_RecieveScores_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecieveTopics">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RecieveTopics" message="tns:IService_RecieveTopics_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveCardSeed">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReceiveCardSeed" message="tns:IService_ReceiveCardSeed_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveCorrectPair">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReceiveCorrectPair" message="tns:IService_ReceiveCorrectPair_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveScoreRival">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReceiveScoreRival" message="tns:IService_ReceiveScoreRival_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveNextTurn">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReceiveNextTurn" message="tns:IService_ReceiveNextTurn_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveNumberCardsFinded">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReceiveNumberCardsFinded" message="tns:IService_ReceiveNumberCardsFinded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveWinner">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReceiveWinner" message="tns:IService_ReceiveWinner_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#NetTcpBinding_IService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Join">
      <soap12:operation soapAction="http://tempuri.org/IService/Join" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IService/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetConnectedUsers">
      <soap12:operation soapAction="http://tempuri.org/IService/GetConnectedUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DisconnectUser">
      <soap12:operation soapAction="http://tempuri.org/IService/DisconnectUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUsername">
      <soap12:operation soapAction="http://tempuri.org/IService/SearchUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchInfoPlayerByUsername">
      <soap12:operation soapAction="http://tempuri.org/IService/SearchInfoPlayerByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GenerateCode">
      <soap12:operation soapAction="http://tempuri.org/IService/GenerateCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <soap12:operation soapAction="http://tempuri.org/IService/Modify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/IService/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendInvitation">
      <soap12:operation soapAction="http://tempuri.org/IService/SendInvitation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <soap12:operation soapAction="http://tempuri.org/IService/SendMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmails">
      <soap12:operation soapAction="http://tempuri.org/IService/GetEmails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopics">
      <soap12:operation soapAction="http://tempuri.org/IService/GetTopics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetScores">
      <soap12:operation soapAction="http://tempuri.org/IService/GetScores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendBoard">
      <soap12:operation soapAction="http://tempuri.org/IService/SendBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendRival">
      <soap12:operation soapAction="http://tempuri.org/IService/SendRival" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendBoardLists">
      <soap12:operation soapAction="http://tempuri.org/IService/SendBoardLists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://tempuri.org/IService/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCorrectCards">
      <soap12:operation soapAction="http://tempuri.org/IService/SendCorrectCards" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendScoreRival">
      <soap12:operation soapAction="http://tempuri.org/IService/SendScoreRival" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendNextTurnRival">
      <soap12:operation soapAction="http://tempuri.org/IService/SendNextTurnRival" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendNumberCardsFinded">
      <soap12:operation soapAction="http://tempuri.org/IService/SendNumberCardsFinded" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendWinner">
      <soap12:operation soapAction="http://tempuri.org/IService/SendWinner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendGame">
      <soap12:operation soapAction="http://tempuri.org/IService/SendGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecieveMessage">
      <soap12:operation soapAction="http://tempuri.org/IService/RecieveMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecieveUsers">
      <soap12:operation soapAction="http://tempuri.org/IService/RecieveUsers" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecievePlayer">
      <soap12:operation soapAction="http://tempuri.org/IService/RecievePlayer" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendInvitationGame">
      <soap12:operation soapAction="http://tempuri.org/IService/SendInvitationGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBoardConfigurate">
      <soap12:operation soapAction="http://tempuri.org/IService/SendBoardConfigurate" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveRival">
      <soap12:operation soapAction="http://tempuri.org/IService/ReceiveRival" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecieveScores">
      <soap12:operation soapAction="http://tempuri.org/IService/RecieveScores" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecieveTopics">
      <soap12:operation soapAction="http://tempuri.org/IService/RecieveTopics" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveCardSeed">
      <soap12:operation soapAction="http://tempuri.org/IService/ReceiveCardSeed" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveCorrectPair">
      <soap12:operation soapAction="http://tempuri.org/IService/ReceiveCorrectPair" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveScoreRival">
      <soap12:operation soapAction="http://tempuri.org/IService/ReceiveScoreRival" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveNextTurn">
      <soap12:operation soapAction="http://tempuri.org/IService/ReceiveNextTurn" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveNumberCardsFinded">
      <soap12:operation soapAction="http://tempuri.org/IService/ReceiveNumberCardsFinded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveWinner">
      <soap12:operation soapAction="http://tempuri.org/IService/ReceiveWinner" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="NetTcpBinding_IService" binding="tns:NetTcpBinding_IService">
      <soap12:address location="net.tcp://localhost:9090/Service/Service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9090/Service/Service</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-GH4KAPE\Mariana</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>